.input:focus {

    background-color: antiquewhite;

}

.input {
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    background-color: pink;
color: red;

}

.errorInput:focus {

    background-color: lightcoral;
    color: darkred;
}

.error {
    color: orange;
}
