.App {
    --header_height: 60px;


}


#hw1  {
    /* display: grid;

    justify-content: space-between   ;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: auto auto auto;


    grid-template-areas:
    "h h h"
    ". m ."
    ". . ."; */

    


    background-color: aliceblue;
    background-image: url("https://img.freepik.com/free-vector/wave-textures-white-background-vector_53876-60286.jpg");
}


.hw {
    padding: 10px;
    max-width: 80%;
    margin: auto;
    
    
}

.hwTitle {
grid-area: h;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-top: 50px;
color: #333;
background-color: beige;
}

.hwTitle hr {
    color: #999;
}