.friendMessage { 
    margin-bottom: 15px;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.friendAngl {
    height: 14px;
    width: 13px;
    color:brown;
    order: 3;
    background: radial-gradient(circle at 0% 0%, rgba(0,0,0, 0) 13px, rgba(100,210,150,0.5) 0);

}


.friendImageAndText img {
    order: 1;
    width: 90px;
    border-radius: 50px;
}

.friendText {
    order: 5;
    border-radius: 7px 7px 7px 0px;
    background-color: rgba(100,210,150,0.5);
    padding: 5px;
}

.friendText:after {}

.friendName {
    font-weight: bold;
}

.friendMessageText {
    display:flex;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word; 
    word-break: break-all;    /* Renamed property in CSS3 draft spec */
    max-width: 500px;
    white-space:break-spaces;
}

.break {
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
}

.friendTime {
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
   
}











/* ----------------
.friendMessage { 
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.friendImageAndText {
    display: block;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
}

.friendImageAndText img {
    float: left;
    width: 100px;
    border-radius: 50px;
}

.friendText {
    border-radius: 7px;
    background-color: cadetblue;
    display: block;
    width: 300px;
    float: left;
    padding: 5px;
}

.friendText:after {}

.friendName {
    font-weight: bold;
}

.friendMessageText {
    grid-area: text;
}

.friendTime {
    display: inline-block;

    float: left;
    overflow: hidden;
    white-space: nowrap;
} */