@keyframes blink {
    0% {
        left: -130%
    }

    100% {
        left: 130%
    }
}


.button {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: aquamarine;
    height: 20px;
    width: 70px;
}


.button::after {
    display: block;
    content: '';
    position: absolute;

    left: -130%;
    top: 0;
    height: 100%;
    width: 20%;

    transform: skew(45deg);
    opacity: 0.7;
    z-index: 14;
}

.button:hover::after {
    animation: blink 0.45s ease
}


.button:hover::before {
    display: block;
    content: '';
    position: absolute;

    left: -100%;
    top: 0;
    height: 100vh;
    width: 20vw;

    opacity: 0.2;
    z-index: 7;

}


.disabled {}

.secondary {
    background-color: lightblue;
}

.default {}

.red {
    background-color: red;
}



.red:hover {}

.secondary:hover {}


.default:active {}

.secondary:active {}

.red:active {}

.button:disabled {}